<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Website Title</title>
<style type="text/css">
@import "css/reset.css";
@import "css/style.css";
</style>
<!--[if IE 6]>
<script src="png/png-fix.js" type="text/javascript"></script>
<script src="png/png.js" type="text/javascript"></script>
<![endif]-->
</head>
<body>
<div id="login-bar">
  <div class="login-bar">
    <ul>
      <li><a href="#">Login</a></li>
      <li><a href="#">Register</a></li>
      <li><a href="#">Logout</a></li>
    </ul>
  </div>
</div>
<div id="wrapper">
  <!--header-->
  <div id="header">
  		<a href="#" class="logo"><img src="images/logo.png" alt="" /></a>
        <div class="right_content_he">
        <p style=" color: #060606;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 30px;
    margin: 67px 9px 0 0;">888.888.5555        </p>
        </div>
        <br clear="all" />
    <div id="menu">
      <ul>
        <li><a class="active"  href="#">Home</a></li>
        <li><a href="#">About Us </a></li>
        <li><a href="#">Students</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#"> Accounts</a></li>
        <li><a href="#">Referrals </a></li>
        <li><a href="#"> Contact Us</a></li>
        <li><a href="#"> Log In</a></li>

      </ul>
      
      <input type="text" value="Search Site" class="search" />
      <br clear="all" />
    </div>
  </div>
  <!--/header-->
  <!--content-->
  <div id="contents">
  <img src="images/banner.png" alt="" />
  
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
    <div class="blue_top" style="background:url(images/blue_top.png) no-repeat left top; height:66px; width:309px" ><label>Lorest Magnust Dolorest</label></div>
    <div class="blue_center"><img src="images/img1.png" alt=""  />
 <p>   Cras condimentum vestibulum metus in egestas. Phasellus eu enim vitae ipsum ullamcorper consequat quis dapibus turpis. </p>
 <a href="#"><img src="images/more.png"  alt="" style="margin:5px 15px 0 0; float:right;" /></a>
    </div>
    <div class="blue_bottom"></div>
    </td>
   <td>
    <div class="blue_top" style="background:url(images/green_top.png) no-repeat left top; height:66px; width:309px" ><label>Lorest Magnust Dolorest</label></div>
    <div class="blue_center"><img src="images/img2.jpg" alt=""  />
 <p>   Cras condimentum vestibulum metus in egestas. Phasellus eu enim vitae ipsum ullamcorper consequat quis dapibus turpis. </p>
<a href="#"> <img src="images/more.png"  alt="" style="margin:5px 15px 0 0; float:right;" />
</a>    </div>
    <div class="blue_bottom"></div>
    </td>
   <td>
    <div class="blue_top" style="background:url(images/yellow_top.png) no-repeat left top; height:66px; width:309px" ><label>Lorest Magnust Dolorest</label></div>
    <div class="blue_center"><img src="images/img3.jpg" alt=""  />
 <p>   Cras condimentum vestibulum metus in egestas. Phasellus eu enim vitae ipsum ullamcorper consequat quis dapibus turpis. </p>
<a href="#"> <img src="images/more.png"  alt="" style="margin:5px 15px 0 0; float:right;" />
</a>    </div>
    <div class="blue_bottom"></div>
    </td>
  </tr>
</table>

<br clear="all" />

<table width="100%" border="0" cellspacing="20" cellpadding="0" class="text">
  <tr>
    <td width="50%"><h2>Vestimelum Cras Egestas Et Neque Turpis</h2>
  <p>  Donec sodales posuere tincidunt. Vestibulum vitae justo in lectus dapibus faucibus at ac sapien. Cras eget tellus ligula. Donec nisi sapien, placerat quis lobortis at, dapibus vitae sem. <strong style="color:#04408f;">Vivamus ac odio felis, quis eleifend quam.</strong> Vivamus sem sem, aliquet at posuere sed, lobortis eu sapien.</p> 
  
 <p> Mauris ullamcorper, erat non commodo commodo, nulla nibh pretium libero, in fringilla elit mi ut nisi. In aliquet lacus sed est consectetur viverra. Quisque pharetra mollis neque, in fermentum urna eleifend at. Aenean quis est orci. Sed venenatis purus quis urna lobortis accumsan.</p>
 <a href="#"> <img src="images/more.png"  alt="" style="margin:5px 15px 0 0; float:right;" />
</a>
    </td>
    <td width="50%"><h2>Vestimelum Cras Egestas Et Neque Turpis</h2>
  <p>  Donec sodales posuere tincidunt. Vestibulum vitae justo in lectus dapibus faucibus at ac sapien. Cras eget tellus ligula. Donec nisi sapien, placerat quis lobortis at, dapibus vitae sem. Vivamus ac odio felis, quis eleifend quam. Vivamus sem sem, aliquet at posuere sed, lobortis eu sapien. </p> 
  
 <p> Mauris ullamcorper, erat non commodo commodo, nulla nibh pretium libero, in fringilla elit mi ut nisi. In aliquet lacus sed est consectetur viverra. Quisque pharetra mollis neque, in fermentum urna eleifend at. Aenean quis est orci. Sed venenatis purus quis urna lobortis accumsan.</p>
 <a href="#"> <img src="images/more.png"  alt="" style="margin:5px 15px 0 0; float:right;" />
</a>
    </td>
  </tr>
</table>


  </div>
</div>

  <!--Foooter-->
  <div id="footer"><div class="footer">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="46%"><p>&copy; Copyright 2011 PSD Style</p></td>
    <td width="54%">
     <div class="footer_menu"><ul>
        <li><a class="active"  href="#">Home</a></li>
        <li><a href="#">About Us </a></li>
        <li><a href="#">Students</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#"> Accounts</a></li>
        <li><a href="#">Referrals </a></li>
        <li><a href="#"> Contact Us</a></li>
        <li><a href="#"> Log In</a></li>

      </ul></div>

    </td>
  </tr>
</table>

    
  </div></div>
  <!--Foooter-->


<!--Warpper-->
</body>
</html>
