<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Thunder</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="default.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="header">
  <div id="logo">
    <h1>Thunder</h1>
    <h2><a href="http://www.free-css.com/">Free CSS Templates</a></h2>
  </div>
  <div id="menu">
    <ul>
      <li class="active"><a href="http://www.free-css.com/">Home</a></li>
      <li><a href="http://www.free-css.com/">My Photos</a></li>
      <li><a href="http://www.free-css.com/">My Friends</a></li>
      <li><a href="http://www.free-css.com/">About Me</a></li>
      <li><a href="http://www.free-css.com/">Contact Me</a></li>
    </ul>
  </div>
</div>
<div id="content">
  <div id="colOne">
    <h2>Welcome to Thunder!</h2>
    <p><em><strong>Thunder</strong></em> is a free template from <strong>Free CSS Templates</strong> released under a <a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attribution 2.5 License</a>. You're free to use it for both commercial or personal use. I only ask that you link back to my site in some way. Enjoy :)</p>
    <h3>Sample Unordered List</h3>
    <ul>
      <li><a href="http://www.free-css.com/">Suspendisse quis gravida massa felis.</a></li>
      <li><a href="http://www.free-css.com/">Vivamus sagittis bibendum erat.</a></li>
      <li><a href="http://www.free-css.com/">Nullam et orci in erat viverra ornare.</a></li>
      <li><a href="http://www.free-css.com/">Suspendisse quis gravida massa felis.</a></li>
      <li><a href="http://www.free-css.com/">Curabitur malesuada turpis nec ante.</a></li>
    </ul>
    <div class="credits">
      <p class="file"><small>January 4th, 2007  by Author</small></p>
      <p class="posted">Posted in <a href="http://www.free-css.com/">Suspendisse iaculis</a> | <a href="http://www.free-css.com/">Edit</a> | <a href="http://www.free-css.com/">23 Comment &raquo;</a></p>
    </div>
    <h3>An Older Post Example</h3>
    <p>Suspendisse potenti. Donec nulla est, laoreet quis, pellentesque in, congue in, dui. Nunc rhoncus placerat augue:</p>
    <ol>
      <li><a href="http://www.free-css.com/">Suspendisse quis gravida massa felis.</a></li>
      <li><a href="http://www.free-css.com/">Vivamus sagittis bibendum erat.</a></li>
      <li><a href="http://www.free-css.com/">Nullam et orci in erat viverra ornare.</a></li>
      <li><a href="http://www.free-css.com/">Suspendisse quis gravida massa felis.</a></li>
      <li><a href="http://www.free-css.com/">Curabitur malesuada turpis nec ante.</a></li>
    </ol>
    <div class="credits">
      <p class="file"><small>January 4th, 2007  by Author</small></p>
      <p class="posted">Posted in <a href="http://www.free-css.com/">Suspendisse iaculis</a> | <a href="http://www.free-css.com/">Edit</a> | <a href="http://www.free-css.com/">23 Comment &raquo;</a></p>
    </div>
  </div>
  <div id="colTwo">
    <ul>
      <li>
        <form method="get" action="http://www.free-css.com/">
          <div>
            <input type="text" id="textfield1" name="textfield1" value="" size="18" />
            <input type="submit" id="submit1" name="submit1" value="Search" />
          </div>
        </form>
      </li>
      <li>
        <h2>Archives</h2>
        <ul>
          <li><a href="http://www.free-css.com/">January 2007</a></li>
          <li><a href="http://www.free-css.com/">December 2006</a></li>
          <li><a href="http://www.free-css.com/">November 2006</a></li>
          <li><a href="http://www.free-css.com/">October 2006</a></li>
          <li><a href="http://www.free-css.com/">September 2006</a></li>
          <li><a href="http://www.free-css.com/">August 2006</a></li>
          <li><a href="http://www.free-css.com/">July 2006</a></li>
          <li><a href="http://www.free-css.com/">June 2006</a></li>
          <li><a href="http://www.free-css.com/">May 2006</a></li>
          <li><a href="http://www.free-css.com/">April 2006</a></li>
          <li><a href="http://www.free-css.com/">March 2006</a></li>
        </ul>
      </li>
      <li>
        <h2>Categories</h2>
        <ul>
          <li><a href="http://www.free-css.com/">Quisque vestibulum</a> (23)</li>
          <li><a href="http://www.free-css.com/">Sed a nisl a lacus</a> (78)</li>
          <li><a href="http://www.free-css.com/">Quisque sagittis</a> (11)</li>
          <li><a href="http://www.free-css.com/">Etiam volutpat</a> (34)</li>
          <li><a href="http://www.free-css.com/">In aliquet hendrerit</a> (65)</li>
          <li><a href="http://www.free-css.com/">Suspendisse iaculis</a> (35)</li>
          <li><a href="http://www.free-css.com/">Nam vel risus at</a> (22)</li>
          <li><a href="http://www.free-css.com/">Praesent sit amet</a> (54)</li>
        </ul>
      </li>
      <li>
        <h2>Blogroll</h2>
        <ul>
          <li><a href="http://www.free-css.com/">Blog-o-friend.com</a></li>
          <li><a href="http://www.free-css.com/">AnotherFriendlySite.net</a></li>
          <li><a href="http://www.free-css.com/">CoolSite.com</a></li>
          <li><a href="http://www.free-css.com/">MyBestFriend.com</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div id="footer">
  <p>Copyright &copy; 2006 Thunder. Designed by <a href="http://www.freecsstemplates.org/"><strong>Free CSS Templates</strong></a></p>
</div>
</body>
</html>
