<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Website Title</title>
<style type="text/css">
@import "css/reset.css";
@import "css/style.css";
</style>
<!--[if IE 6]>
<script src="png/png-fix.js" type="text/javascript"></script>
<script src="png/png.js" type="text/javascript"></script>
<![endif]-->
</head>
<body style="background:#fff;">
<div id="login-bar">
  <div class="login-bar">
    <ul>
      <li><a href="#">Login</a></li>
      <li><a href="#">Register</a></li>
      <li><a href="#">Logout</a></li>
    </ul>
  </div>
</div>
<div id="wrapper">
  <!--header-->
  <div id="header">
  		<a href="#" class="logo"><img src="images/logo.png" alt="" /></a>
        <div class="right_content_he">
        <p style="font-size:20px;">888.888.5555        </p>
        </div>
        <br clear="all" />
    <div id="menu">
      <ul>
        <li><a class="active"  href="#">Home</a></li>
        <li><a href="#">About Us </a></li>
        <li><a href="#">Students</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#"> Accounts</a></li>
        <li><a href="#">Referrals </a></li>
        <li><a href="#"> Contact Us</a></li>
        <li><a href="#"> Log In</a></li>

      </ul>
      
      <input type="text" value="Search Site" class="search" />
      <br clear="all" />
    </div>
  </div>
  <!--/header-->
  <!--content-->
  <div id="contents">
 <div class="col_left"> <div class="sidebar">
 <label>Lorem ipsum sikd</label>
       <ul><li>Vestibulum vitae <a class="active"  href="#"></a><a href="#"><span class="the_form_below" style="color:#000;">l to us</span></a></li>
        <li><a href="#"><span class="the_form_below" style="color:#000;">essential to us</span></a></li>
        <li><a href="#">Vestibulum vitae </a></li>
        <li><a href="#"><span class="the_form_below">fields marked</span></a></li>
        <li><a href="#"><span class="the_form_below" style="color:#000;">essential to us</span></a></li>
        <li><a href="#">Vestibulum vitae </a></li>
        <li><a href="#"><span class="the_form_below">fields marked</span></a></li>

      </ul>

 
 </div></div>
  
  <div class="col_right">
  <div class="register"  id="main">
            <h2>forgot password?</h2>
            <p class="the_form_below">Enter following information to fill get password. </p>
            <form onsubmit="javascript:void(0);" name="registerform" id="registerform" class="contact" accept-charset="utf-8" method="post" action="http://10.1.1.50/gws/index.php/MyAccount/login">
              <input type="hidden" value="do_login" name="action" />
              <input type="hidden" value="Myshop" name="log_in" />
              <table cellspacing="0" cellpadding="0"  width="100%" class="registerform">
                <tbody>
                  <tr>
                    <td class="data-name"><label for="password">Email</label></td>
                    <td class="data-required">&nbsp;</td>
                    <td><!--<input type="password" value="" maxlength="64" size="30" name="password" id="password">-->
                      <input type="password" maxlength="64" size="32" class="input_field" id="passwd1" value="" name="password" /></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td><input type="submit" value="Submit" name="submit" class="submit" /></td>
                  </tr>
                </tbody>
              </table>
              <div style="color: #000;text-transform:capitalize"> If you do not have an account, you can easily&nbsp;<a style="color: #91D4F5; text-decoration:underline; text-transform:capitalize;" href="http://10.1.1.50/gws/index.php/MyAccount/register">register here</a> </div>
            </form>
          </div>
  
  </div>
  <div class="clear"></div>
  </div>
</div>

  <!--Foooter-->
  <div id="footer"><div class="footer">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="46%"><p>&copy; Copyright 2011 PSD Style</p></td>
    <td width="54%">
     <div class="footer_menu"><ul>
        <li><a class="active"  href="#">Home</a></li>
        <li><a href="#">About Us </a></li>
        <li><a href="#">Students</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#"> Accounts</a></li>
        <li><a href="#">Referrals </a></li>
        <li><a href="#"> Contact Us</a></li>
        <li><a href="#"> Log In</a></li>

      </ul></div>

    </td>
  </tr>
</table>

    
  </div></div>
  <!--Foooter-->


<!--Warpper-->
</body>
</html>
