<HTML>
<HEAD>
<TITLE>Company Name</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=windows-1250">
<!-- ImageReady Preload Script (index.psd) -->
<SCRIPT TYPE="text/javascript">
<!--

function newImage(arg) {
	if (document.images) {
		rslt = new Image();
		rslt.src = arg;
		return rslt;
	}
}

function changeImages() {
	if (document.images && (preloadFlag == true)) {
		for (var i=0; i<changeImages.arguments.length; i+=2) {
			document[changeImages.arguments[i]].src = changeImages.arguments[i+1];
		}
	}
}

var preloadFlag = false;
function preloadImages() {
	if (document.images) {
		company_over = newImage("images/company-over.gif");
		services_over = newImage("images/services-over.gif");
		partners_over = newImage("images/partners-over.gif");
		support_over = newImage("images/support-over.gif");
		news_over = newImage("images/news-over.gif");
		contact_over = newImage("images/contact-over.gif");
		preloadFlag = true;
	}
}

// -->
</SCRIPT>
<!-- End Preload Script -->
</HEAD>
<link href="css/styles.css" rel="stylesheet" type="text/css">
<BODY BGCOLOR=#FFFFFF LEFTMARGIN=0 TOPMARGIN=0 MARGINWIDTH=0 MARGINHEIGHT=0 ONLOAD="preloadImages();"><center>

<!-- ImageReady Slices (index.psd) -->
<TABLE WIDTH=775 BORDER=0 CELLPADDING=0 CELLSPACING=0 class="frame">
	<TR>
		<TD COLSPAN=10 ROWSPAN=3>
			<IMG SRC="images/title.gif" WIDTH=412 HEIGHT=61 ALT=""></TD>
		<TD COLSPAN=5>
			<IMG SRC="images/top1.gif" WIDTH=127 HEIGHT=27 ALT=""></TD>
		<TD COLSPAN=6 ROWSPAN=4>
			<IMG SRC="images/top2.gif" WIDTH=236 HEIGHT=249 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=27 ALT=""></TD>
	</TR>
	<TR>
		<TD COLSPAN=5 align="center" valign="top">			<a href="#" class="a">home</a> &nbsp;&nbsp; | &nbsp;&nbsp;<a href="#" class="a">info</a> &nbsp;&nbsp;| &nbsp;&nbsp;<a href="#" class="a">contact</a> </TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=19 ALT=""></TD>
	</TR>
	<TR>
		<TD COLSPAN=5>
			<IMG SRC="images/top3.gif" WIDTH=127 HEIGHT=15 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=15 ALT=""></TD>
	</TR>
	<TR>
		<TD COLSPAN=15>
			<IMG SRC="images/top4.gif" WIDTH=539 HEIGHT=188 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=188 ALT=""></TD>
	</TR>
	<TR>
		<TD>
			<IMG SRC="images/m1.gif" WIDTH=21 HEIGHT=42 ALT=""></TD>
		<TD COLSPAN=2>
			<A HREF="#"
				ONMOUSEOVER="window.status='company'; changeImages('company', 'images/company-over.gif'); return true;"
				ONMOUSEOUT="window.status=''; changeImages('company', 'images/company.gif'); return true;">
				<IMG NAME="company" SRC="images/company.gif" WIDTH=119 HEIGHT=42 BORDER=0 ALT="company"></A></TD>
		<TD COLSPAN=4>
			<A HREF="#"
				ONMOUSEOVER="window.status='services'; changeImages('services', 'images/services-over.gif'); return true;"
				ONMOUSEOUT="window.status=''; changeImages('services', 'images/services.gif'); return true;">
				<IMG NAME="services" SRC="images/services.gif" WIDTH=123 HEIGHT=42 BORDER=0 ALT="services"></A></TD>
		<TD COLSPAN=2>
			<A HREF="#"
				ONMOUSEOVER="window.status='partners'; changeImages('partners', 'images/partners-over.gif'); return true;"
				ONMOUSEOUT="window.status=''; changeImages('partners', 'images/partners.gif'); return true;">
				<IMG NAME="partners" SRC="images/partners.gif" WIDTH=128 HEIGHT=42 BORDER=0 ALT="partners"></A></TD>
		<TD COLSPAN=5>
			<A HREF="#"
				ONMOUSEOVER="window.status='support'; changeImages('support', 'images/support-over.gif'); return true;"
				ONMOUSEOUT="window.status=''; changeImages('support', 'images/support.gif'); return true;">
				<IMG NAME="support" SRC="images/support.gif" WIDTH=131 HEIGHT=42 BORDER=0 ALT="support"></A></TD>
		<TD COLSPAN=3>
			<A HREF="#"
				ONMOUSEOVER="window.status='news'; changeImages('news', 'images/news-over.gif'); return true;"
				ONMOUSEOUT="window.status=''; changeImages('news', 'images/news.gif'); return true;">
				<IMG NAME="news" SRC="images/news.gif" WIDTH=119 HEIGHT=42 BORDER=0 ALT="news"></A></TD>
		<TD COLSPAN=3>
			<A HREF="#"
				ONMOUSEOVER="window.status='contact'; changeImages('contact', 'images/contact-over.gif'); return true;"
				ONMOUSEOUT="window.status=''; changeImages('contact', 'images/contact.gif'); return true;">
				<IMG NAME="contact" SRC="images/contact.gif" WIDTH=114 HEIGHT=42 BORDER=0 ALT="contact"></A></TD>
		<TD>
			<IMG SRC="images/m2.gif" WIDTH=20 HEIGHT=42 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=42 ALT=""></TD>
	</TR>
	<TR>
		<TD COLSPAN=5 ROWSPAN=2>
			<IMG SRC="images/ch1.gif" WIDTH=234 HEIGHT=60 ALT=""></TD>
		<TD COLSPAN=7 ROWSPAN=3>
			<IMG SRC="images/wel1.gif" WIDTH=209 HEIGHT=71 ALT=""></TD>
		<TD COLSPAN=4 ROWSPAN=5>
			<IMG SRC="images/dev2.gif" WIDTH=149 HEIGHT=156 ALT=""></TD>
		<TD COLSPAN=3>
			<IMG SRC="images/dev1.gif" WIDTH=147 HEIGHT=51 ALT=""></TD>
		<TD COLSPAN=2 ROWSPAN=13>
			<IMG SRC="images/dev3.gif" WIDTH=36 HEIGHT=309 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=51 ALT=""></TD>
	</TR>
	<TR>
		<TD COLSPAN=3 ROWSPAN=3 align="left" valign="top">			Duo dolores et ea rebum.<br>
		  <span class="text1"><br>
	    Lorem ipsum dolor sit amet, </span>consetetur sadi pscing elitr, sed dam Erat, sed diam voluptua. Accusam et justo</TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=9 ALT=""></TD>
	</TR>
	<TR>
		<TD COLSPAN=2 ROWSPAN=7>
			<IMG SRC="images/ch2.gif" WIDTH=42 HEIGHT=138 ALT=""></TD>
		<TD COLSPAN=2 ROWSPAN=7 align="left" valign="top">			<span class="text1">11.04.05</span> <span class="text2">-  At vero eos et </span><br>
		  Accusam et justo duo dolores et ea rebum. Lorem ipsum dolor sit amet, consetetur sadi pscing elitr, sed dam Erat, sed diam voluptua.<br>
	    <br>
	    <span class="text1">10.04.05</span> <span class="text2">- Accusam et justo</span><br>
	    Duo dolores et ea rebum. Lorem ipsum dolor sit amet, consetetur sadi pscing elitr, sed dam Erat, sed diam voluptua. Accusam et justo</TD>
		<TD ROWSPAN=7>
			<IMG SRC="images/ch3.gif" WIDTH=24 HEIGHT=138 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=11 ALT=""></TD>
	</TR>
	<TR>
		<TD ROWSPAN=4>
			<IMG SRC="images/wel2.gif" WIDTH=13 HEIGHT=102 ALT=""></TD>
		<TD COLSPAN=5 ROWSPAN=4 align="left" valign="top">			Lorem ipsum dolor sit amet, cons etetur sadi pscing sed adiam ipsum<br>
		  <span class="text3"><br>
	    Erat, sed diam voluptua. </span>At vero eos et accusam et justo duo dolores et ea rebum. Lorem ipsum dolor sit amet, consetetur sadi pscing elitr, sed dam Erat, sed diam voluptua.</TD>
		<TD ROWSPAN=4>
			<IMG SRC="images/wel3.gif" WIDTH=22 HEIGHT=102 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=71 ALT=""></TD>
	</TR>
	<TR>
		<TD COLSPAN=2>
			<IMG SRC="images/dev4.gif" WIDTH=125 HEIGHT=14 ALT=""></TD>
		<TD>
			<A HREF="#"
				ONMOUSEOVER="window.status='read more';  return true;"
				ONMOUSEOUT="window.status='';  return true;">
				<IMG SRC="images/read-more.gif" WIDTH=22 HEIGHT=14 BORDER=0 ALT="read more"></A></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=14 ALT=""></TD>
	</TR>
	<TR>
		<TD>
			<IMG SRC="images/dev5.gif" WIDTH=21 HEIGHT=12 ALT=""></TD>
		<TD COLSPAN=3 ROWSPAN=8>
			<IMG SRC="images/part2.gif" WIDTH=128 HEIGHT=153 ALT=""></TD>
		<TD COLSPAN=3 ROWSPAN=5>
			<IMG SRC="images/part1.gif" WIDTH=147 HEIGHT=56 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=12 ALT=""></TD>
	</TR>
	<TR>
		<TD ROWSPAN=2>
			<A HREF="#"
				ONMOUSEOVER="window.status='read more';  return true;"
				ONMOUSEOUT="window.status='';  return true;">
				<IMG SRC="images/read-more-39.gif" WIDTH=21 HEIGHT=14 BORDER=0 ALT="read more"></A></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=5 ALT=""></TD>
	</TR>
	<TR>
		<TD COLSPAN=3 ROWSPAN=6>
			<IMG SRC="images/serv1.gif" WIDTH=88 HEIGHT=136 ALT=""></TD>
		<TD COLSPAN=4 ROWSPAN=4>
			<IMG SRC="images/serv2.gif" WIDTH=121 HEIGHT=48 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=9 ALT=""></TD>
	</TR>
	<TR>
		<TD ROWSPAN=4>
			<IMG SRC="images/serv4.gif" WIDTH=21 HEIGHT=113 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=16 ALT=""></TD>
	</TR>
	<TR>
		<TD COLSPAN=5 ROWSPAN=4>
			<IMG SRC="images/support-43.gif" WIDTH=234 HEIGHT=111 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=14 ALT=""></TD>
	</TR>
	<TR>
		<TD COLSPAN=3 ROWSPAN=2 align="left" valign="top">Duo dolores et ea rebum.<br>
          <br>
          <span class="text4">Lorem ipsum dolor sit amet, </span>consetetur sadi pscing elitr, sed dam Erat, sed diam voluptua. Accusam et justo </TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=9 ALT=""></TD>
	</TR>
	<TR>
		<TD COLSPAN=4 align="left" valign="top">			
        <p>Duo dolores et ea rebum. Lorem ipsum</p>
        <p><b>Need website hosting? We recommend <a href="http://www.lunarpages.com/?id=webdotcom&campaign=mtt" target="_blank">LunarPages</a></b></p>
      </TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=74 ALT=""></TD>
	</TR>
	<TR>
		<TD COLSPAN=4>
			<IMG SRC="images/serv3.gif" WIDTH=121 HEIGHT=14 ALT=""></TD>
		<TD>
			<A HREF="#"
				ONMOUSEOVER="window.status='read more';  return true;"
				ONMOUSEOUT="window.status='';  return true;">
				<IMG SRC="images/read-more-47.gif" WIDTH=21 HEIGHT=14 BORDER=0 ALT="read more"></A></TD>
		<TD COLSPAN=2>
			<IMG SRC="images/part3.gif" WIDTH=125 HEIGHT=14 ALT=""></TD>
		<TD>
			<A HREF="#"
				ONMOUSEOVER="window.status='read more';  return true;"
				ONMOUSEOUT="window.status='';  return true;">
				<IMG SRC="images/read-more-49.gif" WIDTH=22 HEIGHT=14 BORDER=0 ALT="read more"></A></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=14 ALT=""></TD>
	</TR>
	<TR>
		<TD COLSPAN=21>
			<IMG SRC="images/down.gif" WIDTH=775 HEIGHT=22 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=1 HEIGHT=22 ALT=""></TD>
	</TR>
	<TR>
		<TD COLSPAN=22 align="center" valign="middle" class="text6" height="50">
			<a href="#">Home</a> | <a href="#">About Us</a> | <a href="#">Services</a> | <a href="#">Support</a> | <a href="#">Partners</a> | <a href="#">News</a> | <a href="#">Contact Us</a>&nbsp;</TD>
	</TR>
	<TR>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=21 HEIGHT=1 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=21 HEIGHT=1 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=98 HEIGHT=1 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=70 HEIGHT=1 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=24 HEIGHT=1 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=13 HEIGHT=1 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=16 HEIGHT=1 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=59 HEIGHT=1 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=69 HEIGHT=1 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=21 HEIGHT=1 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=9 HEIGHT=1 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=22 HEIGHT=1 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=21 HEIGHT=1 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=58 HEIGHT=1 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=17 HEIGHT=1 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=53 HEIGHT=1 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=49 HEIGHT=1 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=76 HEIGHT=1 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=22 HEIGHT=1 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=16 HEIGHT=1 ALT=""></TD>
		<TD>
			<IMG SRC="images/spacer.gif" WIDTH=20 HEIGHT=1 ALT=""></TD>
		<TD></TD>
	</TR>
</TABLE>
<!-- End ImageReady Slices -->
</center></BODY>

</HTML>